<%= form_with(model: quantity, local: true) do |form| %>
  <% if quantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quantity.errors.count, "error") %> prohibited this quantity from being saved:</h2>

      <ul>
      <% quantity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :quantity_quantity %>
  </div>
  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id, id: :quantity_item_id %>
  </div>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :quantity_user_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
