<br><br><br><br><br>
<div id="footer">
  <div class="center">
    <%= link_to image_tag("Footer Images/facebook.png", alt: "facebook", class:"item1"), "https://facebook.com" %>
    <%= link_to image_tag("Footer Images/twitter.png", alt: "twitter", class:"item1"), "https://twitter.com" %>
    <%= link_to image_tag("Footer Images/instagram.png", alt: "instagram", class:"item1"), "https://instagram.com" %>
    <%= link_to image_tag("Footer Images/youtube.png", alt: "youtube", class:"item1"), "https://youtube.com" %>
    <%= link_to image_tag("Footer Images/pinterest.png", alt: "pinterest", class:"item1"), "https://pinterest.com" %>
    <br>
    <h100>Copyright &copy 2019 MobileShack Limited. All rights reserved</h100>
  </div>
</div>